* {
    margin: 0;
}

body {
    background: pink;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 300px;
    width: 700px;
    margin-left: 30
    
} */
