/* Still working on CSS things */

body{
    background-image: url(../images/Atlanta.jpg);
    background-position: center;
    background-repeat: repeat;
    background-position-y: -20px;
    text-align: center;
    background-color: #eeeeee;
}

.jumbotron {
    background: #777777;
    color: white;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

h1 {
    background: #eeeeee;
}