body{
    background-image: url(../images/Atlanta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -20px;
    text-align: center;
    background-color: black;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

h1 {
    background: black;
}